In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
df = pd.read_excel("Data/TestDataGeo.xlsx")

In [3]:
df.head()

,Unnamed: 0,level_0,index,Index,Name,Adress,GeoLocation,Phone,Website,Category,Email,Crops,Source,DateUpdated,DateChecked,zip,state,Multiple Locations
0,0,0,0,16454,Burke & Wills Winery,"89 Coombe Ln, Mia Mia VIC 3444","-37.2444,144.4515",+613 5425 5400,http://www.wineandmusic.net/,Vineyard or Winery,wineandmusic@bigpond.com,3,https://www.yellowpages.com.au/search/listings...,05/05/2020,2020-06-01,3444,Victoria,NaN
1,1,1,1,16456,Wild Dog Winery,"6 Farrington Close, Warragul VIC 3820","-38.1924149,145.9268202",+614 06 003 602,http://www.wilddogwinery.com/,Vineyard or Winery,luke@wilddogwinery.com,3,https://www.yellowpages.com.au/search/listings...,05/05/2020,2020-06-01,3820,Victoria,NaN
2,2,2,2,16458,Mia Valley Estate,"203 Daniels Lane, Mia Mia VIC 3444","-36.9954573,144.554238",+614 07311895,http://www.miavalleyestate.com.au/,Vineyard or Winery,info@miavalleyestate.com.au,3,https://www.yellowpages.com.au/search/listings...,05/05/2020,2020-06-01,3444,Victoria,NaN
3,3,3,3,16459,Wild Duck Creek Estate,"764 Spring Flat Rd, Heathcote VIC 3523","-36.9410711,144.7188642",+613 5433 3133,http://www.wildduckcreekestate.com.au/,Vineyard or Winery,winery@wdce.com.au,3,https://www.yellowpages.com.au/search/listings...,05/05/2020,2020-06-01,3523,Victoria,NaN
4,4,4,4,16461,Meehan Vineyard,"4536 McIvor Hwy, Heathcote VIC 3523","-36.8738005,144.6346631",+614 38 981 847,http://www.meehanvineyard.com/,Vineyard or Winery,meehanvineyard@bigpond.com,3,https://www.yellowpages.com.au/search/listings...,05/05/2020,2020-06-01,3523,Victoria,NaN

In [4]:
def grouper(df):
    groups = list()
    notX = 0
    for yCOR in range(114, 155, 8):
        for xCOR in range(-22, -43, -4):
            xGroup = list()
            yGroup = list()
            group = {"id" : int(len(groups))+1, "location": "", "farmsIncluded" : []}
            for i in range(0, len(df)):
                dec = df.GeoLocation[i].find(",")
                xFarm = float(df.GeoLocation[i][0:dec])
                yFarm = float(df.GeoLocation[i][dec+1:])
                if (xFarm >= xCOR) and (xFarm < xCOR + 8) \
                and (yFarm >= yCOR) and (yFarm < yCOR + 4):
                    group["farmsIncluded"].append(df.Index[i])
                    xGroup.append(xFarm)
                    yGroup.append(yFarm)
            
            if len(group["farmsIncluded"]) > 0:  
                group["location"] = f"{np.mean(xGroup)},{np.mean(yGroup)}"
                groups.append(group)
            else:
                notX = notX + 1
    print(f"Number of groups without data: {notX}")
    df = pd.DataFrame(groups)
    return df

In [5]:
df1 = grouper(df)

Number of groups without data: 28

In [6]:
df1

,farmsIncluded,id,location
0,"[16870, 16873, 16875, 16877, 16880, 16887, 168...",1,"-32.90312568717949,115.65298894358973"
1,"[16869, 16870, 16871, 16873, 16874, 16875, 168...",2,"-33.44937914464286,116.1302205392857"
2,"[16869, 16871, 16874, 16878, 16882, 16884, 168...",3,"-34.702548841176466,117.22504596470588"
3,"[17149, 17159, 17248, 17249, 17308, 17311]",4,"-33.682987649999994,138.58872438333336"
4,"[17143, 17144, 17146, 17147, 17148, 17149, 171...",5,"-35.11433341654135,139.03593302706764"
5,"[17143, 17144, 17146, 17147, 17148, 17151, 171...",6,"-35.1819560511811,139.05706099448818"
6,"[16468, 16472, 16472, 16474, 16475, 16477, 164...",7,"-36.21022997692308,146.70027973076924"
7,"[16468, 16472, 16472, 16474, 16475, 16477, 164...",8,"-39.03331224666667,146.81092332666668"

In [7]:
df1.to_excel("Data/Groups.xlsx")